.location-aqi-container {
    position: absolute;
    height: 90px;
    top: 2%;
    right: 5%;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.079);
    gap: 15px;
    z-index: 111;
    transition: all 3s ease;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.city-name {
    font-size: 1.1rem;
    font-weight: 200;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.aqi {
    font-size: 3rem;
    font-weight: 800;
    padding: 0 10px;
}

.implications {
    position: absolute;
    top: 102%;
    background-color: #02172948;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 10px;
}

@media (max-width: 800px) {

    .location-aqi-container {
        top: 83%;
        right: 1%;
        height: 45px;
    }
    .city-name {
        font-size: 0.8rem;
    }
    .aqi {
        font-size: 1.3rem;
    }
    .aq-title {
        font-size: 0.9rem;
    }
    .name-container {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    .implications {
        top: -200%;
        background-color: #021729b7;
        font-size: 14px;
        padding: 0 10px;
    }
  }