/* home page  */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  width: 100%;
  background-color: #242424;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("home-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}

.tree-div {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}
.tree {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  max-width: 2300px;
  object-fit: cover;
  opacity: 0.3;
  margin: 0 auto;
  transition: all 0.3s ease;

}

.tree:hover {
  opacity: 0.8;
  /* transform: scale(1.001); */
  cursor: pointer;
}

.hoverArea:active {
  transform: scale(1.02);
  opacity: 0.5;
  transition: all 0.1s ease;
  
}

#chatInput:focus {
  outline: none;
  background-color: #f2eb13d3;
}

.header-container {
  position: absolute;
  top: 15%;
}


.chatLogContainer::-webkit-scrollbar {
  width: 4px;
}

.chatLogContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.648);
  border-radius: 4px;
}

.chatLogContainer::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 4px;
}

.chatLogContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
 background-color: #7a9084d8;
}


.loader {
  border: 5px solid #f3f3f345;
  border-top: 5px solid #01110b;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 





/* about section */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 50px;
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
  /* color: #fff; */
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

#about {
  font-size: 2rem;
  text-decoration: underline;
  font-weight: 600;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 800px;
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
/* outline: #ebe709 2px solid; */
  justify-content: space-between;
  font-size: 19px;
  /* gap: 50px; */
}

